[push]
	autoSetupRemote = true
[pull]
	rebase = true
[rerere]
	enabled = true
[core]
	editor = nvim
	excludesFile = ~/.gitignore
[alias]
	lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
	defaultBranch = main
[includeIf "gitdir:~/Workspace/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/Personal/"]
	path = ~/.gitconfig-personal
